/*sets the body to fit the entire screen*/
html, body {
    height: 100%;
}

#landing {
    height: 100%;
}

#landing .title {
    position: absolute;
    top: 40%;
    transform: translate3d(-5%, -50%, 0);
}

#landing .title h1 {
    font-family: 'Muli', sans-serif;
    color: #3E52B3;
    font-size: 95px;
}

#landing .title h2 {
    font-family: 'Multi', sans-serif;
    color: #3E52B3;
    /*font-size: 37px*/
}

#landing .title h3 {
    font-family: 'Muli', sans-serif;
    color: #262626;
    /*font-size: 23px;*/
}

#landing .down span.arrow {
    display: inline-block;
    width: 55px;
    height: 55px;
    cursor: pointer;
    line-height: 57px;
    border-radius: 50%;
    background: #3E52B3;
}

#landing .down {
    text-align: center;
    position: absolute;
    bottom: 100px;
    left: 15px;
    width: 100%;
}

/* less than xs */
@media(max-width:768px){
    #landing .title h1 {
        font-size: 85px;
        color: red;
    }
}
/* more than xs*/
@media(min-width:768px){
    #landing .title h1 {
        font-size: 120px;
        color: blue;
    }
}
/* medium+ */
@media(min-width:992px){
    #landing .title h1 {
        font-size: 130px;
        color:black;
    }
}
/* large+ */
@media(min-width:1200px){
    #landing .title h1 {
        font-size: 40px;
        color: green;
    }
}